.box-layout {
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(0, 162, 255, 0.8), rgba(216, 149, 25, 0.8)), url('/images/fantasy-2995326_1920.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out($color: white, $amount: .1);
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}
