.button {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background-color: $coral;
}

.button--form {
    width: 142px;
}

.button--margin {
    margin-bottom: 2rem;
}

.button--login {
    color: white;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.button--login:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.button--login:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
